
html {
    background-color: lightblue;
	background: url("stagetheater.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;

}

button{
	padding: 14px 40px;
	border: none;
	background: none;
}

div{
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);

  background-color: #ccc;
}

#spotlightpink {
  width:1024px;
  height:450px;
  z-index:9;
  position:absolute;
  top:150px;
  left:100px;
  background:red;
  background: radial-gradient(circle, rgba(245,70,239,.7), rgba(238,235,77,0),rgba(137,226,110,0));
	display:none;
}

#spotlightblue {
  width:1024px;
  height:450px;
  z-index:9;
  position:absolute;
  top:150px;
  left:100px;
  background:red;
  background: radial-gradient(circle, rgba(21,233,233,.7), rgba(21,233,233,.1),rgba(137,226,110,0));
  display:none;
 

}

#pink{
	position: fixed;
	float:right;
	margin-right: 100px;
	top: 100px;
	left: 970px;
	background-color: pink;
>>>>>>> 16623c9a699ad685ab4c05fcb29da72a2f7448eb
}

#blue{
	position: fixed;
	float:left;
	margin-left:100px;
	top: 100px;
	left:-50px;
	background-color: blue;
}

.button{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

#white{
	background-color="white";
}

#pink:hover {
	background-color: white;
	color: black;
}

#blue:hover {
	background-color: white;
	color: black;
}
h1{

        color:#66ffcc;
        font-family: Oswald;
        text-align: center;
        font-size: 50px;       
 }





