<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<h2>My Todo List</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="personInput" size="30" placeholder="Person">
	    <input type="text" ng-model="fatherInput" size="30" placeholder="Father">
		    <input type="text" ng-model="motherInput" size="30" placeholder="Mother">

    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>

<script>
var app = angular.module('myApp', []); 
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [{todoText:'Jackson Curtis, Mark Curtis, Maureen Curtis', done:false}];

    $scope.todoAdd = function() {
		if($scope.personInput!="")
        $scope.todoList.push({todoText:$scope.personInput+', '+$scope.fatherInput+', '+ $scope.motherInput, done:false});
        $scope.personInput = "";
		        $scope.fatherInput = "";
        $scope.motherInput = "";

    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todoList.push(x);
        });
    };
});
</script>

</body>
</html>
